/* ---------- Vertical --------*/
ul.navside {
    padding: 0;
	margin: 0;
	background-color: rgb(128,128,128);
	border-top: 1px solid silver;
	font-size: 18px;
    box-shadow: 0 0 5px #3c3c40;          
}
 
ul.navside li  {
    background-image: linear-gradient(top, #535357, #3c3c3f);
	list-style-type: none;
	list-style-type: none;
	border-left: 1px solid silver;
	border-bottom: 1px solid silver;
   
}
 
ul.navside li a  {
    border-bottom: 1px solid #292929;
    display: block;
    padding: 15px 30px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
    box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2);
	border-left: 3px solid #eee;
}
 
ul.navside li a:hover,
ul.navside li a:focus {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
    background-color: #59595c;
	border-left-color: red;
    box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;
}
 
ul#vertical li a:active {
 	background: #414142;
    box-shadow: inset 0 2px 3px rgba(0,0,0, 0.2);
}
}
