/*============================================================
					Navmain-horizontal

Datei: navmain-horizontal.css
Autor: ~
Datum: 13.05.2016
=============================================================*/

#top_menu {
	flex: 1;
	position: relative;
}
#top_menu ul.navmain {
	background: linear-gradient(to right,silver ,grey);
	text-align: right;
	font-size: 18px;
	padding-right: 230px;
	border: 3px outset silver;
	margin: 85px 5px;
}
#top_menu ul.navmain li {
	display: inline-block;
	padding: 2px 20px 2px 20px;
	border: 3px outset silver;
}
ul.navmain li a:hover,
ul.navmain a:focus {
	color: black;
	font-weight: bold;
	background-color: #C0C0C0;
	border: 3px inset silver;
	border-color: red;
	border-bottom: none;
}
ul.navmain a:active {
	color: black;
	background-color: #d9d9d9;
}
/*##################### Suchformular ##########################*/
.suchformular {
	position: absolute;
	top: 90px;
	right: 15px;
}
.suchformular input[type="text"] {
	width: auto;
	font-size: 18px;
	border: none;
	border-radius: 4px;
	padding: 3px 25px 3px 9px;
	margin: 0;
}
.suchformular input.lupe {
	position: absolute;
	right: 7px;
	top: 7px;
	padding: 0;
	margin: 0;
}
