/*===============================================================
	Navigation Horizontal - Homepage Dj-Kingonair

Datei: navmain-horizontal.css
Datum: 18.02.16
Autor: ...
==============================================================*/
@media screen {
/* Main */
#top_menu {
	position: relative;
    margin: auto 20px auto auto;
	padding: 10px 0 0 0;
    list-style: none;  
    background-color: #111;
    background-image: linear-gradient(#444, #111);
    border-radius: 50px;
    box-shadow: 0 2px 1px #9c9c9c;
}

#top_menu li {
    float: right;
    padding: 0 0 5px 0;
    position: relative;
}

#top_menu a {
    float: right;
    height: 35px;
    padding: 0 25px;
    color: #999;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}

#top_menu li:hover > a {
    color: #fafafa;
}

#top_menu li:hover > ul {
    display: block;
}

/* Sub-menu */
#top_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;    
    background-color: #444;   
    background-image: linear-gradient(#444, #111);    
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#top_menu ul li {
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
    box-shadow: 0 1px 0 #111111, 
                0 2px 0 #777777;
}

#menu ul li:last-child { 
    box-shadow: none;    
}

#top_menu ul a {    
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}
#top_menu ul a:hover {
    background-color: #0186ba;
    background-image: linear-gradient(#04acec, #0186ba);
}

#top_menu ul li:first-child a {
    border-radius: 5px 5px 0 0;
}

#top_menu ul li:first-child a:after {
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#top_menu ul li:first-child a:hover:after {
    border-bottom-color: #04acec; 
}

#top_menu ul li:last-child a {
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
#top_menu:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html #menu             { zoom: 1; } /* IE6 */
*:first-child+html #menu { zoom: 1; } /* IE7 */

/*##################### Suchformular ##########################*/
.suchformular {
	float: right;
	margin-right: 20px;
}
.suchformular input[type="text"] {
	width: auto;
	font-size: 20px;
	border: none;
	border-radius: 4px;
	padding: 3px 25px 3px 9px;
	margin: 0;
}
.suchformular input.lupe {
	position: absolute;
	right: 27px;
	top: 7px;
	padding: 0;
	margin: 0;
}

} /* Ende @media - nicht löschen */
/*==============================================================
	E	N	D	E
==============================================================*/
