	/*===============================================
	Zentrales Stylesheet

Datei: mainstyle.css
Datum: 29.03.16
===============================================*/

/*-----------------H1-H6------------------------*/

h1 { 
	font: Tahoma 22px bold;
}
h2 {
	font: Tahoma 20px bold;
}
h3 {
	font: Tahoma 18px bold;
}
h4 {
	font: Tahoma 16px bold;
}
/*----------------Basic Styles------------------*/

body {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	line-height: 1.5;
	background: url(../img/background/1b.png);	
	background-repeat: repeat;
	background-attachment: fixed;						
}
#big_wrapper {
	display: flex;
	flex-direction: column;
	flex:1;
}
#top_header {
	display: flex;
	flex-direction: column;
	height: 250px;
}
#top_header.logo {
	flex: 1;
	color: black;
	padding: 10px 10px 10px 10px;
	margin: auto 5px;
}

/*
#foto_display {
}
*/
/*################### left side ######################*/
#left_side {
	background: grey;
	flex: 1;
	background-color: rgba(128,128,128,0.7);
	border-radius: 10px;
	border: 3px solid grey;
	margin: 0px 10px 0px 10px;
}
#main_flex {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}
/*################### main ###########################*/
#main_section {
	background-color: silver;
	border-radius: 10px;
	color: black;
	flex: 4;
	padding: 10px;
	border: 3px solid grey;
}
/*################### right side #####################*/
#right_side  {
	flex: 1;
	background-color: rgba(128,128,128,0.7);
	border-radius: 10px;
	color: silver;
	border: 5px solid grey;
	margin: 0px 10px 0px 10px;
}
#social_icons {
	background-color: silver;
	padding: 0px 10px 0px 10px;
	border-top: 5px solid grey;
	border-bottom: 5px solid grey;
	color: black;	
}
#social_icons p {
	text-align: center;
}
#side_news {
	text-align: center;
	padding-top: 7px;
	border-bottom: 5px solid grey;
}
#the_footer {	
	padding: 20px;
	background-color: rgba(128,128,128,0.7);
	border: 3px solid grey;
	border-radius: 10px;
	margin: 10px 10px 10px 10px;
}
#bottom_address {
	text-align: center;
	color: silver;
}

/*-------------------Links--------------------------*/
#top_header a:active,
#top_header a:hover,
#top_header a:focus {
	outline-style: none;
}
/* Hyperlinks */
a { text-decoration: none; }
main a { text-decoration: underline; }

a:link { color: black; }						
a:visited { color: black; }	/*lighter black*/						
a:hover,
a:focus {
	color: #FF8F00;		/*strong orange*/
}
a:active {
	color: white;
}
/*-----------------other Styles----------------------*/
.maintitle {
	font-size: 25px;
	text-align: center;
}
.mainvideo {
	
}
#registerbutton {
	background-color: #C0C0C0;	/*grey*/
	border: 3px solid red;
	border-radius: 10px;
	padding: 5px;
}
